.lesson {
    background-color: lemonchiffon;
  }
  
  .title {
    color: darkblue;
  }
  
  #email {
    background-color: goldenrod;
  }
  
  #github {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }
  
  .box {
    width: 200px;
    height: 300px;
  }

  .box-purple {
    color: #ffff00;
    background-color: #800080;
  }

  .box-orange {
    color: #ffa500;
    background-color: #0000ff;
  }
